*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
   text-align: center;
   padding: 200px 200px 50px 200px;
}
.ws-buttons {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    
}

.btn-flex{
    padding: 20px 10px 20px 10px;
    width: 33.33%;
    margin: 5px;
    background-color: #25D366;
    color: #fff;
    border: 0;
    font-size: 1.2em;
    border-radius: 25px;
}
.btn-flex:hover{
    cursor: pointer;
    background-color: #000;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drpdown{
    background-color: #000;
    color: #fff;
    padding: 15px 25px 15px 25px;
}

